<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Matheus Pohlmann</a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ translate('nav.home') }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            {{ translate('nav.about') }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">
            {{ translate('nav.projects') }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            {{ translate('nav.contact') }}
          </a>
        </li>
        <li class="nav-item">
          <button class="theme-toggle" (click)="toggleTheme()" [attr.aria-label]="'Toggle theme'">
            @if (isDarkMode()) {
              <i class="bi bi-sun-fill"></i>
            } @else {
              <i class="bi bi-moon-fill"></i>
            }
          </button>
        </li>
        <li class="nav-item">
          <div class="language-switch" (click)="toggleLanguage()">
            <span class="language-option" [class.active]="currentLanguage() === 'pt-BR'">PT</span>
            <span class="language-option" [class.active]="currentLanguage() === 'en-US'">EN</span>
            <div class="language-slider" [class.slide-right]="currentLanguage() === 'en-US'"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
